* {
    padding: 0; 
    margin: 0 5px; 
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    width: 90vw; 
    height: 300vh;
    padding: 1rem; 
    color: #124;
    background: radial-gradient(rgba(red, 0.3), rgba(red, 0) 40vw),
    radial-gradient(rgba(green, 0.3), rgba(green, 0) 40vw),
    radial-gradient(rgba(blue, 0.3), rgba(blue, 0) 40vw),
    radial-gradient(rgba(yellow, 0.3), rgba(yellow, 0) 40vw),
    radial-gradient(rgba(red, 0.3), rgba(red, 0) 40vw);
    background-position:
      -40vw 14rem,
      50% 10rem,
      60vw 14rem,
      -10vw calc(14rem + 20vw),
      30vw calc(14rem + 20vw);
    background-size: 80vw 80vw;
    background-repeat: no-repeat;
}

#container {
    height: 100vh; 
    display: flex; 
    flex-direction: column;
}

nav {
    position: fixed; 
    top: 0; 
    right: 0; 
    left: 0;
    padding: 1.5rem 1rem;
    background-color: white; 
    border-top: 4px solid mix(purple, white); 
    display: flex;
    flex-direction:row;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10%;
}

#header__logo{}

#header__menu{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

#header__menu > ul > li {
    list-style-type: none;
    display:inline; 
}

#header__menu > ul >li > a {
    text-decoration: none;
    color: black;
    
}

#header__menu > ul >li > a:hover { 
    text-decoration: underline;
}

#main__1 {
    display: flex;
    flex-direction: row;
    height: 80%;
    margin: 10vh;
}


#main__text {
   border: black 1px; 
   justify-content: center;
   align-items: center;
   gap: 15px;
   width: 50%;
   display: flex;
   flex-direction: column;
   flex: 5;
}

#main__text > div > p {
    font-family: 'Hind', sans-serif;
    font-size: 19px; 
}

#main__image {
    background-image:url("img/img.jpg"); 
    width: 50%; 
    background-size: contain;
    background-repeat: no-repeat;
    background-position:right;
    border-radius: 25% 10%;
    flex: 2;
}


#main__2 {
    display: flex;
    flex-direction: row;
    height: 50vh;
    margin: 10vh;
}
  
#cards {
    display: flex;
    flex-direction: column;
    list-style: none;
}
  
#card {
    flex: 1;
    margin: 1rem;
    padding: 1rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 6rem rgba(black, 0.1);
}

#main__3 {
    height: 40vh;
    margin: 10vh;
}